img{
    max-width: 100%;
    display: block;
    
}

li{
    
    /* color: #ffffff; */
    padding: 16px 0px;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    padding: 40px 10px;
    margin: 0 auto;
    background: black;
    margin-bottom: 60px;
}

.header-menu{
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px 0px;
    align-items: center;
}

 